<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
    </style>
</head>

<body style="margin: 0; padding: 0;">
<p>
Hi <%= @user.name %>,
</p>
<p>
We’re so happy for you that you are taking these steps to making 2015 your healthiest year ever.  As promised, here is your guide to get started: <a href="https://www.dropbox.com/s/fvvs6wbhthn2fwf/4StepstoYourHealthiestYear.pdf?dl=0" target="_blank">https://www.dropbox.com/s/fvvs6wbhthn2fwf/4StepstoYourHealthiestYear.pdf?dl=0</a>
</p>
<p>
Over the next few days, we’ll walk through these 4 steps one a time.  Although they may seem simple, if you follow these steps you are much more likely to make 2015 your healthiest year ever. 
</p>
<p>
If you haven’t already, add us to your address book so that you are sure to receive those emails. We’re so excited for this next year and what it holds for you!
</p>
<p>
If you know others that would benefit for this challenge, let them know using your unique link below.  In addition to helping them have their healthiest year ever, you’ll also earn awesome rewards, such as a FREE copy of our incredible Ultimate Healthy Living Bundle 2014.  Here is the unique link that you can share with your friends:<br>
<a href="http://healthylivingbundle.com/?ref=<%= @user.referral_code %>" target="_blank">http://healthylivingbundle.com/?ref=<%= @user.referral_code %></a>
</p>
<p>
To Your Healthiest Year Ever!
</p>
<p>
Ryan, Stephanie, Erin, and Will<br>
The Ultimate Bundles Team
</p>
<p>
P.S. Towards the end of December we’ll be giving you a very short window of opportunity to purchase our Ultimate Healthy Living Bundle 2014.  In September almost 20,000 people like you picked up a copy.  But after the short sale ended, we had a tonne of emails from folks who missed it and wanted to get their copy.  Although we weren’t able to accommodate them at the time, we’ve been able to negotiate the rights to sell it again for 2 days only.  We’ll notify you when it’s available, so keep an eye out for those emails.
</p>

</body>
</html>