<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
    </style>
</head>

<body style="margin: 0; padding: 0;">
<p>
Hi <%= @user.name %>,
</p>
<p>
You just signed up for our free mini video course, "4 Simple Steps to Stress-Free Homemaking".  Awesome!
</p>
<p>
We're so glad to play a part in helping your reduce the stress in your life.
</p>
<p>
By the way, this mini-course is not really for those that consider themselves "perfect homemakers", but rather for the rest of us to remove key stress points and rediscover the joy of homemaking in our daily lives.  In our homes, with our kids, with our spouses.
</p>
<p>
You should receive an email from me today with the first step which will give you access to the first video. Then, over the next couple days you will receive 3 more emails which will give you access to the remaining 3 videos. So please watch your email so that you will know once the next video is available.
</p>
<p>
If you haven't already, add this email address to your address book so that you are sure to receive those emails. We're so excited for this next year and what it holds for you!
</p>
<p>
If you know other homemakers that would benefit from less stress in their daily lives, you can let them know sharing your unique link:  <a href="http://stressfreehomemaking.com/?ref=<%= @user.referral_code %>" target="_blank">http://stressfreehomemaking.com/?ref=<%= @user.referral_code %></a>
</p>
<p>
In addition to helping us get the word out, and helping you friend, you'll also earn some awesome rewards.  With just 5 referrals, you'll receive a free 1-year subscription to <a href="http://www.discountmags.com/magazine/better-homes-and-gardens">Better Homes and Gardens Magazine</a> (from my friends at <a href="http://discountmags.com">DiscountMags.com</a>).  And 10 referrals will get you FREE access to over $1,000 of awesome Homemaking resources to inspire your creative side all year long.
</p>
<p>
But enrolment to the mini-course is only available until 11:59 PM on Thursday, April 23rd, so make sure they check it out before then.
</p>
<p>
To You and Stress-Free Homemaking!
</p>
<p>
Erin Odom and Stephanie Langford
</p>
<p>
<a href="http://thehumbledhomemaker.com">TheHumbledHomemaker.com</a><br>
<a href="http://ultimate-bundles.com">Ultimate-Bundles.com</a><br>
<a href="http://keeperofthehome.org">KeeperOfTheHome.org</a>
</p>
<p>
P.S. In the next little bit, I'll let you know about how you can get your hands on the exclusive Ultimate Homemaking Bundle.  If you haven't heard of these before, you are in for treat.  It will only be available for a few days, but contains over $1,000 worth of inspiration for a shockingly low price.  That's all I can say for now, but I'll let you know more soon.
</p>
<p>
P.P.S. Want to share about the mini-course on Facebook or Twitter?  Do it the easy way by clicking on the FaceBook or Twitter Icon at stressfreehomemaking.com (on the computer or device you signed up with)
</p>

</body>
</html>