<style type="text/css">
	body{
		text-align: center;
    margin: 20px;
	}

	p{
		margin: 20px 0;
	}
</style>

<h1>TERMS OF USE</h1>

<p>
    <strong>Acceptance of Terms.</strong>
</p>
<p>
The following terms and conditions govern all use of the www.stressfreehomemaking.com website (the <strong>Site</strong>). The Site is offered subject to acceptance without modification of any of the terms and conditions contained herein or all other operating rules, policies and procedures that may be published from time to time on this Site by Homemakers Media Group Ltd. (<strong>Ultimate Bundles</strong>) (collectively, the <strong>Terms of Use</strong>).
</p>
<p>
If you do not agree to all of these Terms OF USE, then do not access or use the SITE. BY VIEWING THE SITE, YOU AGREE TO BE BOUND BY ALL OF THESE TERMS OF USE.
</p>
<p>
    <strong>Changes.</strong>
</p>
<p>
Ultimate Bundles reserves the right, at its sole discretion, to modify or replace any of these Terms of Use at any time. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Site following the posting of any changes to the Terms of Use constitutes acceptance of those changes.
</p>
<p>
    <strong>Information and Privacy.</strong>
</p>
<p>
At your election, you may request (and Ultimate Bundles may provide) additional information about Ultimate Bundles (the <strong>Service</strong>). When you do so, you may need to submit certain information or data to Ultimate Bundles, for example, your email address. Ultimate Bundles current privacy policy is available at <a href="http://www.stressfreehomemaking.com/privacy-policy">http://www.stressfreehomemaking.com/privacy-policy</a> (the <strong>Privacy Policy</strong>), which is incorporated by this reference. Ultimate Bundles will not edit, delete or disclose the contents of your data in connection with the Service unless (1) reasonably necessary to perform the Service, (2) authorized by you, (3) otherwise permitted under the Privacy Policy or (4) Ultimate Bundles is required to do so by law or regulation, or in the good faith belief that such action is necessary to (i) conform or comply with applicable laws, regulations or legal process, (ii) protect or defend the rights or property of Ultimate Bundles or any other user or (iii) enforce these Terms of Use. Ultimate Bundles may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately.
</p>
<p>
    <strong>Rules and Conduct.</strong>
</p>
<p>
As a condition of use, you promise not to use the Site for any purpose that is unlawful or prohibited by these Terms of Use, or any other purpose not reasonably intended by Ultimate Bundles. You agree to abide by all applicable local, state, national and international laws and regulations.
</p>
<p>
    <strong>Third Party Sites.</strong>
</p>
<p>
The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site. These other websites are not under Ultimate Bundles’ control, and you acknowledge that Ultimate Bundles is not responsible for the accuracy, legality, appropriateness or any other aspect of the content or function of such websites. The inclusion of any such link does not imply endorsement by Ultimate Bundles or any association with its operators.
</p>
<p>
    <strong>Proprietary Rights.</strong>
</p>
<p>
You agree that all content and materials delivered via the Site and the Service or otherwise made available by Ultimate Bundles at the Site are protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. Except as expressly authorized by Ultimate Bundles in writing, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from such materials or content. However, you may print or download a reasonable number of copies of the materials or content at this Site for your internal business purposes; <em>provided</em>, that you retain all copyright and other proprietary notices contained therein.
</p>
<p>
    <strong>No Warranties.</strong>
</p>
<p>
THE SITE AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE (THE <strong>CONTENT</strong>) ARE PROVIDED "AS IS" AND "AS AVAILABLE". THE SITE, SERVICE AND CONTENT ARE PROVIDED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. ULTIMATE BUNDLES, AND ITS AFFILIATES, LICENSORS AND SUPPLIERS DO NOT WARRANT THAT: (1) THE CONTENT IS TIMELY, ACCURATE, COMPLETE, RELIABLE OR CORRECT; (2) THE SITE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (3) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (4) THE CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (5) THE RESULTS OF USING THE SITE OR SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SITE AND/OR SERVICE IS SOLELY AT YOUR OWN RISK.
</p>
<p>
    <strong>Limitation of Liability.</strong>
</p>
<p>
IN NO EVENT SHALL ULTIMATE BUNDLES (OR ITS AFFILIATES, LICENSORS AND SUPPLIERS) BE LIABLE CONCERNING THE SUBJECT MATTER OF thESE TERMS OF USE, regardless of the form of any claim or action (whether in CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERwise), for any (1) MATTER BEYOND ITS REASONABLE CONTROL, (2) LOSS OR INACCURACY of data, loss or interruption OF USE, OR COST OF PROCURING SUBSTITUTE TECHNOLOGY, GOODS or SERVICES, OR (3) DIRECT OR INDIRECT, PUNITIVE, INCIDENTAL, RELIANCE, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUES, PROFITS OR GOODWILL, EVEN IF ULTIMATE BUNDLES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THIS AGREEMENT AND SHALL APPLY NOTWITHSTANDING THE FAILURE OF ANY REMEDY PROVIDED HEREIN.
</p>
<p>
    <strong>Miscellaneous.</strong>
</p>
<p>
These Terms of Use shall be governed by and construed in accordance with the laws of the State of New York, excluding its conflicts of law rules, and the United States of America. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. Ultimate Bundles may assign, transfer or delegate any of its rights and obligations hereunder without consent. All waivers and modifications must be in a writing signed by Ultimate Bundles, except as otherwise provided herein. No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Use, and neither party has any authority of any kind to bind the other in any respect.
</p>
<p>
    <strong>Copyright and Trademark Notices.</strong>
</p>
<p>
Unless otherwise indicated, these Terms of Use and all Content provided by Ultimate Bundles are copyright © 2015 Homemakers Media Group Ltd.,  All rights reserved.
</p>
<p>
Ultimate Bundles and the Ultimate Bundles logo are trademarks of Homemakers Media Group, Ltd.
</p>
<p>
    <strong>Contact.</strong>
</p>
<p>
You may contact Ultimate Bundles at <a href="mailto:customerservice@ultimate-bundles.com">customerservice@ultimate-bundles.com</a>
</p>