<div class="site">
	<!--SECTION: HEADER-->
	<section class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<%= image_tag "users/header.png", :class => "img-responsive" %>
				</div>
			</div>
		</div>
	</section>

	<!--SECTION: THANKS-->
	<section class="thanks container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<%= image_tag "users/thank.png", :class => "img-responsive img-center" %>
				</div>
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<h4>Your Photography Strengths Assessment is ready for you to begin:<h4>
				</div>
				<div class="col-sm-12 text-center">
							<a href="http://quiz.ultimate-bundles.com/?email=<%= @user.email %>"><button class="button btn btn-small">START MY ASSESSMENT<i class="fa fa-flash"></i></button></a>
					<!-- <i class="fa fa-flash orange"></i> -->
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<p>We’ve also sent you a confirmation email that includes a link to access your assessment later (although we recommend taking it as soon as you can). If you don't receive your confirmation email soon, check your spam folder just in case.<p>
					<p>Feel free to contact us at customerservice [@] ultimate-bundles.com if you need assistance or have any questions!</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="container">
	<% if @user.referrals.count > 0 %>
		<small>Affiliate Referrals: <%= @user.referrals.count %></small>
  <% end %>
</div>
