<div class="site">
	<!--SECTION: HEADER-->
	<section class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<%= image_tag "users/header.png", :class => "img-responsive" %>
				</div>
			</div>
		</div>
	</section>

	<!--SECTION: THANKS-->
	<section class="thanks container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<%= image_tag "users/thank.png", :class => "img-responsive img-center" %>
				</div>
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<h4>The Photography Strengths Assessment is headed your way.</h4>
				</div>
				<div class="col-sm-12 text-center">
					<i class="fa fa-flash orange"></i>
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<p>We’ve just sent you a confirmation email that includes access to The Photography Strengths Assessment. Take it as soon as you can! Your journey to the life of your dreams starts NOW!</p>
					<p>If you don’t receive your confirmation email soon, check your spam folder just in case. Feel free to contact us at stephanie [@] ultimatebundles.com if you need assistance or have any questions!</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="container">
	<% if @user.referrals.count > 0 %>
		<small>Affiliate Referrals: <%= @user.referrals.count %></small>
  <% end %>
</div>
