<div class="video-wrapper">
  <%= link_to "/videos/101" do %>
    <%= image_tag "videos/video1_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>
<div class="video-wrapper">
  <%= image_tag "videos/video3_thumb-disabled.jpg", class: "video-thumbnail" %>
</div>
<div class="video-wrapper">
  <%= image_tag "videos/video4_thumb-disabled.jpg", class: "video-thumbnail" %>
</div>