<div id="video-wrapper">
  <%= link_to "/videos/101" do %>
    <%= image_tag "videos/video1_thumb.jpg", class: "video-thumbnail" %>
  <% end %>
</div>
<div id="video-wrapper-disabled">
  <%= image_tag "videos/video3_thumb.jpg", class: "video-thumbnail" %>
</div>
<div id="video-wrapper-disabled">
  <%= image_tag "videos/video4_thumb.jpg", class: "video-thumbnail" %>
</div>