<div id="video-wrapper">
  <%= image_tag "videos/video1_thumb.jpg", class: "video-thumbnail" %>
</div>
<div id="video-wrapper">
  <%= image_tag "videos/video2_thumb.jpg", class: "video-thumbnail" %>
</div>
<div id="video-wrapper">
  <%= image_tag "videos/video3_thumb.jpg", class: "video-thumbnail" %>
</div>