<div id="video-wrapper-disabled">
  <%= image_tag "videos/video2_thumb.jpg", class: "video-thumbnail" %>
</div>
<div id="video-wrapper-disabled">
  <%= image_tag "videos/video3_thumb.jpg", class: "video-thumbnail" %>
</div>
<div id="video-wrapper-disabled">
  <%= image_tag "videos/video4_thumb.jpg", class: "video-thumbnail" %>
</div>