<div class="video-wrapper">
  <%= image_tag "lessons/habit_2_disabled.jpg", class: "video-thumbnail" %>
</div>
<div class="video-wrapper">
  <%= image_tag "lessons/habit_3_disabled.jpg", class: "video-thumbnail" %>
</div>
<div class="video-wrapper">
  <%= image_tag "lessons/habit_4_disabled.jpg", class: "video-thumbnail" %>
</div>