<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
    </style>
</head>

<body style="margin: 0; padding: 0;">
<p>
Hi Authors and Affiliates,
</p>
<p>
If you are receiving this email, that means that we just allocated you a <em>very special affiliate link</em>.  Here’s your special link: <a href="http://mynewnormal.me/?ref=<%= @user.referral_code %>" style="font-family: 'Times', serif; font-size: 14px; letter-spacing: 0.05em; color: #6c6c6c; text-decoration: none" target="_blank">http://mynewnormal.me/?ref=<%= @user.referral_code %></a>.  You can use it to promote our pre-launch campaign for the upcoming Ultimate Healthy Living Bundle 2014.
</p>
<p>
<strong>What makes this link so special?</strong>
</p>
<p>
When you let your readers, friends, and family know that the Ultimate Healthy Living Bundle (2014 edition) is coming soon, using your special affiliate code, and they sign up to be notified when it’s available, they will receive a unique referral code (different them yours) that they can share with their friends, and those friends can share with their friends...and it will keep on going as long as they keep sharing! 
</p>
<p>

<strong>Here’s what’s amazing:</strong> Your unique affiliate cookie will be tied to anyone who refers their friends (and then their friends and their friends) from your original link! The effect will be exponential! 
</p>
<p>
<strong>Why would they share these referral links?</strong> 
</p>
<p>
Well, anyone who refers 1 friend will receive $5 off their bundle! If they refer 5 friends they’ll receive a 12-session audio conference, and referring 10 will get them an Ultimate Healthy Living Bundle for absolutely free! 
</p>
<p>
When we begin to officially launch the bundle sale to the email list of people who have signed up through these special affiliate and referral links, any person that you shared with (or that one of your referrals shared with somewhere down the line) <em><span style="text-decoration: underline;">will be credited to YOU when they buy their bundle, and you’ll receive your regular commission</span></em> on the bundle they purchased. We truly believe this will give a massive boost to your sales. 
</p>
<p>
<strong>When does the pre-launch campaign finish?</strong>
</p>
The campaign will finish as soon as we open up our Healthy Living Bundle Launch Site for sales.  It’s coming VERY soon (that date to be announced within the next week), so if you want to benefit the most from the pre-launch campaign, we’d recommend promoting it right away and regularly until we open up the shopping cart.
</p>
<p>

We’re honored that you would partner with us, and we hope this sale is wildly successful for you. 
</p>
<p>

With excitement,
</p>
<p>
Ryan, Stephanie, Erin, and Will<br>
Ultimate-Bundles.com
</p>
</body>
</html>
