@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,300);

body {
	color: #cccccc;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;;
}

.hero {
	width: 100%;
	height: 635px;
  background: image-url("homemaker/hero-image.jpg") no-repeat;
  @include image-2x("homemaker/hero-image2x.jpg", 2846px, 1270px);
	/*background-size: 1683px 446px;*/
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: top;
  background-size: cover;
	overflow: hidden;
  padding-top: 20px;
  margin-bottom: 30px;

  @include breakpoint(xs) {
    height: 535px;
  }

  .signup-header-image {
    @include center-block;
    width: 567px;
    height: auto;
    @include image-2x("homemaker/3_simple_steps2x.png", 1134px, 387px);
  }

  .refer-header-image {
    @include center-block;
    width: 542px;
    height: auto;
    @include image-2x("homemaker/thank_you2x.png", 1084px, 180px);
  }

  .title {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 110%;
    @include breakpoint(sm) {
      font-size: 40px;
    }
    @include breakpoint(xs) {
      font-size: 24px;
    }
  }

  .subtitle {
    text-align: center;
    color: #ffe5ac;
    font-size: 42px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    line-height: 110%;
    @include breakpoint(sm) {
      font-size: 32px;
    }
    @include breakpoint(xs) {
      font-size: 22px;
    }
  }

  .byline {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    font-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 110%;
    @include breakpoint(sm) {
      font-size: 30px;
    }
    @include breakpoint(xs) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  
  #signup-btn {
    background-color: #f1592a;
  }

  #signup-btn:hover {
    background-color: #f1592a;
    font-style: bold;
  }


  p.fine-print {
    text-align: center;
    width: 200px;
    color: #dedede;
    line-height: 110%;
  }

  .refer-header {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 110%;
    @include breakpoint(sm) {
      font-size: 32px;
    }
    @include breakpoint(xs) {
      font-size: 20px;
    }
  }

  .refer-subheader {
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    font-transform: uppercase;
    height: 80px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 110%;
    @include breakpoint(sm) {
      font-size: 28px;
    }
    @include breakpoint(xs) {
      font-size: 22px;
    }
  }

  .refer-byline {
    text-align: center;
    color: #ffe5ac;
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    line-height: 110%;
    text-align: center;
    @include breakpoint(sm) {
      font-size: 28px;
    }
    @include breakpoint(xs) {
      font-size: 26px;
    }
  }

  .share-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    @include breakpoint(sm) {
      font-size: 20px;
    }
    @include breakpoint(xs) {
      font-size: 12px;
    }
  }

  .orange-arrow {
    position: relative;
    top: -30px;
  }

  .white-arrow {
    position: relative;
    top: -40px;
  }

  .share-box {
    background-color: #f1592a;
    @include border-radius(5px);
    width: 160px;
    padding: 14px;

    img {
      margin-left: 12px;
    }
  }

  .course-button {
    padding: 16px;
    background: transparent;
    border: 1px solid #ffffff;

    color: #ffffff;
    text-decoration: none;
  }

  .course-button:hover {
    background: #333333;
  }
}

.footer {
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
  text-decoration: none;
  @include breakpoint(xs) {
    font-size: 14px;
  }
  a.fine-print {
    text-decoration: none;
    color: #333333;
  }
  a.fine-print:visited {
    text-decoration: none;
    color: #333333;
  }
  a.fine-print:hover {
    text-decoration: underline;
    color: #999999;
  }
}
