#videos {
  background-color: #f2f2f2;

  .header {
    background-color: #464646;
    height: 80px;
    padding-top: 30px;

    ul.navigation {
      width: 100%;
      position: relative;
      z-index: 1;
      list-style-type: none;

      li {
        height: 100%;
        color: #b7b7b7;
        font-weight: 500;
        font-size: 18px;
        float: left;
        margin-right: 14px;
        width: 20%;

        .disabled {
          color: #777777;
          font-style: italic;
        }
        a {
          color: #b7b7b7;
          text-decoration: none;
        }
        a:hover {
          color: #ffe5ac;
          text-decoration: underline;
        }
      }
    }
  }

  .title {
    text-align: center;
    color: #636363;
    font-size: 44px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 110%;

    strong {
      font-weight: 600;
    }

    @include breakpoint(sm) {
      font-size: 38px;
    }
    @include breakpoint(xs) {
      font-size: 24px;
    }
  }

  .subtitle {
    text-align: center;
    color: #636363;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 110%;

    @include breakpoint(xs) {
      font-size: 20px;
    }
  }

  .video-container {
    margin-top: 10px;
  }

  .video-thumbnail {
    width: 100%;
    height: 100%;
  }

  .video-wrapper {
    max-width: 198px;
    max-height: 110px;
    margin-bottom: 5px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
  }

  .share-box {
    margin-left: 10px;
    width: 100%;
    max-width: 198px;
    max-height: 110px;
    border: 1px solid #cacaca;
    padding: 10px;
    font-size: 15px;
    color: #898989;
    text-align: center;
    float: left;
    
    p {
      margin-top: 6px;
    }

    .points {
      color: #f1592a;
    }
  }

  .fb-share-button {
    top: -4px;  
  }

  .buy-button {
    padding: 20px;
    background: #f1592a;
    border: 1px solid #ffffff;
    @include border-radius(6px);
    @include center-block;
    width: 320px;
    font-size: 36px;
    height: 80px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nest-img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 253px;
    height: 190px;
    @include center-block;
  }

  .quote {
    background: image-url("videos/quote.png") no-repeat;
    @include image-2x("videos/quote2x.png", 1084px, 180px);
    padding-left: 80px;
    padding-top: 10px;
    margin: 30px;
    font-size: 24px;
    color: #636363;
    line-height: 110%;
    min-height: 70px;
    font-weight: 300;
    @include breakpoint(sm) {
      font-size: 20px;
    }
    @include breakpoint(xs) {
      font-size: 16px;
    }
  }

  .citation {
    text-align: right;
    color: #f1592a;
    font-transform: uppercase;
    font-size: 22px;
    margin-right: 40px;
    margin-bottom: 30px;
    @include breakpoint(sm) {
      font-size: 16px;
    }
    @include breakpoint(xs) {
      font-size: 12px;
    }
  }
  
  a.big-link {
    text-align: center;
    color: #636363;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 110%;
    text-decoration: none;
    display: block;

    @include breakpoint(xs) {
      font-size: 20px;
    }
  }
  a.big-link:hover {
    text-decoration: underline;
    font-weight: 600;
  }
}

@media (max-width: 760px) {
  #videos {
    .header {
      padding-top: 16px;
    }
    ul.navigation {
      margin-top: 10px;
    }
  }
}